{% extends 'base.html' %}

{% block title %}
Empréstimos
{% endblock title %}

{% block content %}
{% include 'menu.html' %}
{% include 'components/breadcrumbs.html' %}
<div class="container">
    <div class="row mb-3">
        <h3 class="fw-bold">Empréstimos</h3>
    </div>
    {% include 'actions/messages.html' %}
    <div class="d-flex mb-3">
        <div class="p-2">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalNovoEmprestimo">
                <i class="bi bi-plus-circle-fill"></i>&nbsp;
                Novo Empréstimo
            </button>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th class="text-center" scope="col">Livro</th>
                    <th class="text-center" scope="col">Cliente</th>
                    <th class="text-center" scope="col">Usuário</th>
                    <th class="text-center" scope="col">Data Empréstimo</th>
                    <th class="text-center" scope="col">Data Devolução</th>
                    <th class="text-center" scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% if context.emprestimos %}
                {% for emprestimo in context.emprestimos %}
                <tr>
                    <th scope="row">{{ emprestimo.id }}</th>
                    <td class="text-center">{{ emprestimo.livro.titulo }}</td>
                    <td class="text-center">{{ emprestimo.cliente.email }}</td>
                    <td class="text-center">{{ emprestimo.usuario.email }}</td>
                    <td class="text-center">{{ emprestimo.data_emprestimo }}</td>
                    <td class="text-center">{{ emprestimo.data_devolucao or 'Ainda não devolvido' }}</td>
                    <td class="text-center">
                        {% if not emprestimo.data_devolucao %}
                        <button type="button" class="btn btn-success p-2 m-1" data-bs-toggle="modal"
                            data-bs-target="#ModalDevolucaoEmprestimo" data-id="{{ emprestimo.id }}">
                            Devolver
                        </button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7" class="text-center">Sem empréstimos cadastrados ainda...</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% include 'emprestimos/formsEmprestimos/forms.html' %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var modalDevolucao = document.getElementById('ModalDevolucaoEmprestimo');
        modalDevolucao.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var idEmprestimo = button.getAttribute('data-id');
            var inputIdEmprestimo = modalDevolucao.querySelector('#id_emprestimo');
            inputIdEmprestimo.value = idEmprestimo;
        });
    });
</script>
{% endblock script %}
{% endblock content %}
