{% extends 'base.html' %}

{% block title %}
Empréstimos
{% endblock title %}

{% block content %}
{% include 'menu.html' %}
{% include 'components/breadcrumbs.html' %}
<div class="container">
    <div class="row mb-3">
        <h3 class="fw-bold">Empréstimos</h3>
    </div>
    {% include 'actions/messages.html' %}
    <div class="d-flex">
        <div class="p-2">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalNovoEmprestimo">
                <i class="bi bi-plus-circle-fill"></i>&nbsp;
                Novo Empréstimo
            </button>
        </div>
    </div>
    <div class="row">
        {% include 'emprestimos/formsEmprestimos/filterform.html' %}
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th class="text-center" scope="col">Livro</th>
                    <th class="text-center" scope="col">Cliente</th>
                    <th class="text-center" scope="col">Usuário</th>
                    <th class="text-center" scope="col">Data Empréstimo</th>
                    <th class="text-center" scope="col">Data Devolução</th>
                    <th class="text-center" scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% if context.emprestimos %}
                {% for emprestimo in context.emprestimos %}
                <tr>
                    <th scope="row">{{ emprestimo.id }}</th>
                    <td class="text-center">{{ emprestimo.livro.titulo }}</td>
                    <td class="text-center">{{ emprestimo.cliente.email }}</td>
                    <td class="text-center">{{ emprestimo.usuario.email }}</td>
                    <td class="text-center">{{ emprestimo.data_emprestimo.strftime('%d/%m/%Y %H:%M:%S' ) }}</td>
                    <td class="text-center">
                        {% if emprestimo.data_devolucao %}
                        {{ emprestimo.data_devolucao.strftime('%d/%m/%Y %H:%M:%S' ) }}
                        {% else %}
                        Ainda não devolvido
                        {% endif %}</td>
                    <td class="text-center">
                        <a class="btn btn-success p-2 m-1"
                            href="{{ url_for('gerar_comprovante_emprestimo', id_emprestimo=emprestimo.id )}}">
                            <i class="bi bi-file-earmark-arrow-up"></i>
                        </a>
                        {% if not emprestimo.data_devolucao %}
                        <button type="button" class="btn btn-success p-2 m-1" data-bs-toggle="modal"
                            data-bs-target="#ModalDevolucaoEmprestimo" data-id="{{ emprestimo.id }}">
                            Devolver
                        </button>
                        {% else %}
                        <a class="btn btn-outline-success p-2 m-1"
                            href="{{ url_for('gerar_comprovante_devolucao', id_emprestimo=emprestimo.id )}}">
                            <i class="bi bi-file-earmark-arrow-down"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7" class="text-center">Sem empréstimos cadastrados ainda...</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>


<!-- Toast Notification -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    {% for alerta in alertas %}
    <div class="toast bg-danger text-light" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Alerta</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ alerta }}
        </div>
    </div>
    {% endfor %}
</div>

{% include 'emprestimos/formsEmprestimos/forms.html' %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var modalDevolucao = document.getElementById('ModalDevolucaoEmprestimo');
        modalDevolucao.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var idEmprestimo = button.getAttribute('data-id');
            var inputIdEmprestimo = modalDevolucao.querySelector('#id_emprestimo');
            inputIdEmprestimo.value = idEmprestimo;
        });

        // Exibir toasts
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl, { autohide: false });
        });
        toastList.forEach(toast => toast.show());
    });
</script>
{% endblock script %}
{% endblock content %}