<nav class="navbar navbar-expand-lg " style="background-color: #009473;">
  <div class="container">
    <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
      aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-light"></span>
    </button>
    <a class="navbar-brand text-light fw-bold" href="#">
      <img src="{{ url_for('static', filename='imgs/favicon.svg')}}" alt="" width="45" height="45">
      Bibliotec
    </a>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="nav-underline navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if 'index' in request.path %} active {% endif %} text-light" aria-current="page" href="{{url_for('index')}}"><i class="bi bi-house-door-fill"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'clientes' in request.path %} active {% endif %} text-light" href="{{url_for('clientes')}}"><i class="bi bi-people-fill"></i> Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'livros' in request.path %} active {% endif %} text-light" href="{{url_for('livros')}}"><i class="bi bi-journal"></i> Livros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'emprestimos' in request.path %} active {% endif %} text-light" href="{{url_for('emprestimos')}}"><i class="bi bi-journal-bookmark"></i> Emprestimos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'authDocs' in request.path %} active {% endif %} text-light" href="{{url_for('authDocs')}}"><i class="bi bi-fingerprint"></i> Autenticação</a>
        </li>
        {% if request.cookies.get('valid') == 'True' %}
        <li class="nav-item">
          <a class="nav-link {% if 'administracao' in request.path %} active {% endif %} text-light" href="{{url_for('administracao')}}"><i class="bi bi-diagram-2-fill"></i> Admin</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if 'perfilUsuario' in request.path %} active {% endif %} text-light" href="{{url_for('perfilUsuario')}}"><i class="bi bi-person-badge"></i> Perfil</a>
        </li>
        {% endif %}
      </ul>
      <a style="font-size: 10pt !important; color: aliceblue;">Usuário: <b> {{ request.cookies.get('user_email') }}</b></a>&nbsp;
      <div class="vr m-2" style="color: aliceblue;"></div>
      <ul class="nav-underline navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link text-light" href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-right"></i> Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>